.p-tasks{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}
.p-task-container{
    border: 1px solid lightgrey;
    position: relative;
}
.p-task-container .add-task-btn{
    padding: 6px;
    padding-bottom: 2px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid lightgrey;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: 10px;
}
.p-task-container button:hover{
    background-color: hsl(0, 0%, 97%);
}
.add-task-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-task-wrapper h5{
    margin: 0;
    font-size: 1.5em;
}
.add-task-container{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-task-container .add-task-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}
.add-task-container .add-task-info p{
    width: 50px;
    margin-right: 4px;
}
.add-task-container input, select{
    font-size: 1em;
    padding: 4px;
}
.add-task-container div button{
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #8B5CF6;
    color: white;
    cursor: pointer;
}
.add-task-container .btn{
    display: flex;
    justify-content: center;
}